@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'EnglishFont';
	src: url('./lib/fonts/bahij_janna_regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EnglishFont';
	src: url('./lib/fonts/PlusJakartaSans_Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
:root {
/* Light theme colors */
    --primary-background:#A5371B;
    --primary-textColor:#D0D0D0;
    --background-color: white;
    --text-color: black;
    --toggleButtonColor: #B0B0B0; 
     --background-color-nav: #012853;
    --text-color-nav: #686868;
    --activeText-color-nav: #D0D0D0;
    --insertButtonColor: #D0D0D0;
    --insertButtonBackgroundColor: #012853;
    --tableHeaderColor: #012853;
    --tableHeaderBackgroundColor: #B0B0B0;   
    --tableColor: #181818;
    --tableBackgroundColor: #D0D0D0;   
}

[data-theme='dark'] {
    /* Dark theme colors */
    --primary-background:#A5371B;
    --primary-textColor:#D0D0D0;
    --background-color: #0c1a35;
    --text-color: #D0D0D0;
    --toggleButtonColor: #0c1a35;  
    --background-color-nav: #D0D0D0;
    --text-color-nav: #686868;
    --activeText-color-nav: #012853;
    --insertButtonColor: #012853;
    --insertButtonBackgroundColor: #D0D0D0;
     --tableHeaderColor: #012853;
    --tableHeaderBackgroundColor: #B0B0B0;  
    --tableColor: #181818;
    --tableBackgroundColor: #D0D0D0;    
    
}
