@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'EnglishFont';
	src: url('./lib/fonts/bahij_janna_regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EnglishFont';
	src: url('./lib/fonts/PlusJakartaSans_Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
:root {
/* Light theme colors */
    --primary-background:#1E90FF;
    --primary-textColor:#fff;
    --toggleButtonColor: #B0B0B0; 
    --activeText-color-nav: #D0D0D0;
    --insertButtonColor: #D0D0D0;
    --insertButtonBackgroundColor: #012853;
    --tableHeaderColor: #012853;
    --tableHeaderBackgroundColor: #B0B0B0;   
    --tableColor: #181818;
    --tableBackgroundColor: #D0D0D0;  
    --titleColor: #686868;
    --backButtonBackgroundColor: #D0D0D0;
    --mainBackgroundColor: #E0E0E0; /* Default value */
    --textColor: #181818;
    --backgroundButtonColor: #1E90FF;
}

[data-theme='dark'] {
    /* Dark theme colors */
    --primary-background:#1E90FF;
    --primary-textColor:#fff;
    --toggleButtonColor: #0c1a35;  
    --activeText-color-nav: #012853;
    --insertButtonColor: #012853;
    --insertButtonBackgroundColor: #D0D0D0;
     --tableHeaderColor: #012853;
    --tableHeaderBackgroundColor: #B0B0B0;  
    --tableColor: #181818;
    --tableBackgroundColor: #D0D0D0; 
     --titleColor: #D0D0D0; 
    --backButtonBackgroundColor: #686868;  
    --mainBackgroundColor: #E0E0E0; /* Default value */
    --textColor: #181818;
    --backgroundButtonColor: #1E90FF;
}